<th>Welcome <%=@users.name%></th>
<br>
<br>
<th>Make Your Selection</th>
<br>

<form method = "get" action ="/users">
  <input type = "submit" value = "User Details"/>
</form>

<form method = "get" action ="/categories">
  <input type = "submit" value = "Categories"/>
</form>

<form method = "get" action ="/transactions/by_date">
<input type = "submit" value = " Select Transaction by Date"/>
</form>

<form method = "get" action ="/transactions">
<input type = "submit" value = "Your Last 10 Transactions"/>
</form



