<!DOCTYPE html>
<html>
<head>
  <title>Budget4Me</title>
  <link href="https://fonts.googleapis.com/css?family=Merriweather|Special+Elite" rel="stylesheet">
  <link rel="stylesheet" href="/style.css">
  <style>
  img {
      position: absolute;
      left: 0px;
      top: 0px;
      z-index: -1;
  }
  </style>
</head>
<body>
  
  <%= yield %>

</body>
</html>