<h2>categoryUpdate</h2>

<form method="post" action="/categories/<%=@category.id%>">

  <label for="categoryName">Name </label>
  <input type="text" value=<%=@category.name%> id="categoryName" name="name" 

  <input type="submit" name=categoryUpdate>
  
</form>