<a href="/">Home Page</a>
<tr>
  <table>
    <thead>
      <tr>
        <th>Category Type</th>
      </tr>
    </thead>
  </table>
  
  <tr>
    <% @categories.each do |category|%>
    <td><%= category.name%></td>
    <tr>
    <br>
      <%end%>
      <br>
    </tr>

<a href="/categories/new">Add a New Category</a>





