<a id="homePageLink" href="/">Home Page</a>

  <table>
    <thead>
      <tr>
        <th></th>
        <th>Category Type</th>
      </tr>
    </thead>


<% @categories.each do |category|%>
  <tr>
      <td><a id="table-update-button" href="/categories/<%= category.id %>/edit">Update</a></td>
      <td><%= category.name%></td>
  </tr>
  <%end%>
</table>

<a href="/categories/new">Add a New Category</a>
