<a href="/">Home Page</a>
<tr>
  <table>
    <thead>
      <tr>
        <th></th>
        <th>Category Type</th>
      </tr>
    </thead>
  </table>
</tr> 

  <tr>
    <% @categories.each do |category|%>
      <a href="/categories/<%= category.id %>/edit">Update</a>
      <td><%= category.name%></td>
      <br>
    <%end%>
  </tr>
    
<a href="/categories/new">Add a New Category</a>







