<h2>categoryNameType</h2>

<form action="/categories" method="post">
  <label for="typeName">Category Type </label>
  <input type="text" id="typeName" name="name">
  <input type="submit" id="typeName" name="categoryNameType">
</form>