<h2>userUpdate</h2>

<form method="post" action="/users/<%= @user.id %>">

  <label for="userName">Name </label>
  <input type="text" value = <%=@user.name%>id="userName" name="name">

  <label for="userBudget">Budget </label>
  <input type="text" id="userBudget" name="budget">

  <label for="userOverdraftLimit">Overdraft </label>
  <input type="text" id="userOverdraftLimit" name="overdraft_limit">

  <label for="userBudgetOverspendFlag">Overdraft_flag </label>
  <input type="text" id="userBudgetOverspendFlag" name="budget_overspend_flag">

  <input type="submit"  name = "userUpdate">
</form>