body {
  color: black;
  font-family: Helvetica, Arial, Sans-serif;
  background: url('BudgetMainPage.jpg');
  background-size: 15%;
  background-repeat: no-repeat;
  background-position: top right 10px;
  background-color: #B5D3D7;
  }
  a{
    text-decoration: none;
    background-color: white;
    border: 1px solid;
    border-radius: 5px;
  }
  table{
    width: 50%;
    text-align: left;
  }

  .homePage {
  background: black url('BudgetMainPage.jpg');
  background-size: 60% ;
  background-position: right;
  background-repeat: no-repeat;
  color: papayawhip;
  font-family: 'Merriweather', serif;
  padding: 0px;
  margin: 0px;

}
#homePageName{
  color: gold;
  font-size: 3em;
}
h1#homePageWelcomeid {
  font-style: italic;
  color: ghost white;
}
h2#homePageFormBoxClass{


}
.homePageFormBoxClass input
{
    height: 2em;
    font-size: 1em;
    border: 1em;
}
#homePageLink{

}

#table-update-button {
  text-decoration: none;
  background-color: cornflowerblue;
  border: 1px solid;
  border-radius: 5px;
}
