body {
  padding: 50px;
  font-family: 'Times New Roman', cursive;
  color: #ccad00;
  background-color; dark blue;
  
}



.transaction-date{
  
  }

.homePage{
    background-image: url('BudgetMainPage.jpg'); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: 800px 600px;
     
  }
  

}




