.homePage {
  background: blue url('BudgetMainPage.jpg');
  background-size: 70% ;
  background-position: center;
  background-repeat: no-repeat;
  color: papayawhip;
  font-family: 'Merriweather', serif;
  padding: 0px;
  margin: 0px;
}x


#homePageWelcomeid {
  color: black;
}
#textboxid
{
    height:200px;
    font-size:14pt;
}

.homePageFormBoxClass
{
    height:600px;
    font-size:10pt;
}







  