<h2>transactionDetails</h2>

<form action="/transactions" method="post">

  <label for="transactionDate">Date</label>
  <input type="text" id="transactionDate" name="transaction_date">
  
  <label for="userSelect">Select User </label>
  <select required id = "userSelect" name="user_id">
  <option value = "">Please Select</option>
    <% @users.each do |user| %>
    <option value="<%=user.id%>"><%=user.name%></option>
    <%end%>
  </select>

  <label for="categorySelect">Select Category </label>
    <select required id = "categorySelect" name="category_id">
    <option value = "">Please Select</option>
    <% @categories.each do |category| %>
    <option value="<%=category.id%>"><%=category.name%></option>
    <%end%>
  </select>

  <label for="transactionDesc">Description</label>
  <input type="text" id="transactionDate" name="description">

  <label for="transactionAmount">Amount</label>
  <input type="text" id="transactionDate" name="amount">


  <input type="submit" name="transactionDetails">
</form>