<h2>transactionDetails</h2>

<form action="/transactions" method="post">

  <label for="transactionDate">Date</label>
  <input type="text" id="transactionDate" name="transaction_date">

  <label for="categorySelect">Select Category </label>
  <select id = "categorySelect" name="category_id">

    <% @categories.each do |category| %>
    <option value="<%=category.id%>"><%=category.name%></option>
    <%end%>
  </select>


  <label for="transactionDesc">Description</label>
  <input type="text" id="transactionDate" name="description">

  <label for="transactionAmount">Amount</label>
  <input type="text" id="transactionDate" name="amount">


  <input type="submit" name="transactionDetails">
</form>