<a href="/">Home Page</a>
<h2>Total Spend for May</h2>
<table>
<thead>
  <tr>
    <th>Category</th>
    <th>Total</th>
  </tr>
</thead>
<tbody>
  <% @categories.each do |category|%>
  <tr>
    <td><%=category.name%></td>
    <td><%=category.total_may()%></td>
  </tr>
<%end%>

</tbody>

</table>
