<a href="/">Home Page</a>
<h2>Total Transactions by Category</h2>
<br>
<thead>
  <th>
    <th>Category</th>
    <th>Total</th>
  </tr>
</thead>
<tbody>

<% @categories.each do |category|%>
  <td><%=category.name%></td>
  <td><%=category.total_may()%></td>
  <br>
<%end%>

</tbody>

